<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image to Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="margin-top: 20px; text-align:center;">
    <h1 class="panel-title">Upload a new recipe image</h1>
</div>

<div style="margin-top: 5%; margin-left:35%; margin-right:25%;">
  <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
  th:action="@{'/recipe/' + ${recipe.id} + '/image' }">

            <label  class="sr-only">Select File</label>
            <input id="imagefile" name="imagefile" type="file" class="file">

            <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>