<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container container-fluid" style="margin-top:2%;">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" th:text="${ingredient.id}"></th>
                <td th:text="${ingredient.description}"></td>
                <td><a href="#" th:href="@{'/recipe/' + ${ingredient.recipe.getId()} + '/ingredients'}"><button type="button" class="btn btn-light">Back</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>